<div class="container">
  <div class="header">
    <h1>{{ appTitle }}</h1>
  </div>
  <div class="slots">
    <h1 *ngIf="!picked && !picking">?</h1>
    <div *ngIf="picking" class="spin_forward">
      <img *ngIf="picking.image" class="secret-img" [src]="picking.image" />
      <h1>{{ picking.name }}</h1>
    </div>
    <div *ngIf="picked" class="name-spinner">
      <img *ngIf="picked.image" class="secret-img" [src]="picked.image" />
      <h1>{{ picked.name }}</h1>
    </div>
  </div>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
  <div *ngIf="!picked" class="form">
    <div>
      <input placeholder="Enter your name" #picker type="text" class="name form-control" (focus)="error = ''" />
    </div>
    <div class="button-wrapper">
      <button (click)="getName(picker.value)" class="button">
        <span>Draw Name</span>
      </button>
    </div>
  </div>
  <div class="drawn">
    <h1 class="text-center">Who Has Drawn</h1>
    <ol>
      <li *ngFor="let secretSanta of whosDrawn;">
        <span *ngIf="secretSanta.hasPicked">{{ secretSanta.name }}</span>
      </li>
    </ol>
  </div>
</div>
